annotated-types
anthropic
anyio
asgiref
attrs
beautifulsoup4
boto3
botocore
certifi
cffi
charset-normalizer
cryptography
distro
dj-rest-auth
django
dotenv
gunicorn
h11
httpcore
httpx
idna
jiter
jmespath
whitenoise
openai
outcome
packaging
prettytable
psycopg2
pycparser
pydantic
pydantic_core
PyJWT
PyPDF2
PySocks
python-dateutil
python-decouple
python-dotenv
requests
s3transfer
selenium
six
sniffio
sortedcontainers
soupsieve
sqlparse
tqdm
trio
trio-websocket
typing-inspection
typing_extensions
urllib3
wcwidth
webdriver-manager
websocket-client
wsproto
python-docx
lxml
PyPDF2
Pillow
docx
